* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

a {
  text-decoration: none; }

.footer {
  background-color: black;
  color: white; }
  .footer__1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 45px 0px;
    justify-items: center;
    align-items: center; }
    .footer__1 .sobreNosotros {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 10px;
      margin: 10px;
      text-align: center; }
      .footer__1 .sobreNosotros h4 {
        text-align: center;
        font-size: 28px;
        font-family: 'Volkhov', serif; }
      .footer__1 .sobreNosotros ul {
        padding: 0; }
      .footer__1 .sobreNosotros li {
        display: inline; }
    .footer__1 .logoFooter {
      width: 100px;
      height: 100px; }
    .footer__1 .redSocial {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 10px;
      margin: 10px;
      text-align: center; }
      .footer__1 .redSocial h4 {
        text-align: center;
        font-size: 28px;
        font-family: 'Volkhov', serif; }
      .footer__1 .redSocial ul {
        padding: 0; }
      .footer__1 .redSocial i {
        font-size: xx-large;
        margin: 10px; }
  .footer__2 {
    padding: 10px; }

@media screen and (max-width: 815px) {
  .footer__1 {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px 0px;
    justify-items: center;
    align-items: center; } }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: flex-start; }

.navbar {
  padding: 0; }

.container-fluid {
  background-color: black;
  padding: 10px; }

.navbar-brand {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  flex-wrap: wrap; }
  .navbar-brand h1 {
    font-family: 'Press Start 2P', cursive;
    color: gold; }
  .navbar-brand img {
    margin: 10px;
    width: 50px; }
  .navbar-brand a {
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 10px;
    font-size: medium;
    border-radius: 15px; }

.navbar-toggler {
  background-color: gold;
  color: gold;
  border-width: 2px;
  border-color: #000000;
  background: none; }

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center; }
  .navbar-toggler-icon i {
    font-size: xx-large;
    color: gold; }

.navbar-nav a {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 10px;
  font-size: medium;
  border-radius: 15px; }
  .navbar-nav a:hover {
    padding: 5px 10px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    transition: all 0.5s ease; }

@media screen and (max-width: 425px) {
  .navbar-brand {
    align-items: center; }
    .navbar-brand h1 {
      font-size: 1.4rem;
      margin-top: 10px; }
    .navbar-brand img {
      width: 40px; }
  .navbar-toggler-icon {
    font-size: small; }
    .navbar-toggler-icon i {
      font-size: 1.7rem; } }

@media screen and (max-width: 350px) {
  .navbar-brand {
    align-items: center; }
    .navbar-brand h1 {
      font-size: 1.2rem;
      margin-top: 10px; }
    .navbar-brand img {
      width: 40px; }
  .navbar-toggler-icon {
    font-size: small; }
    .navbar-toggler-icon i {
      font-size: 1.7rem; } }

@media screen and (max-width: 425px) {
  .navbar-nav a {
    font-size: 0.8rem; } }

.main {
  margin-top: 100px; }

@media screen and (max-width: 815px) {
  .main {
    margin-top: 100px; } }

@media screen and (max-width: 425px) {
  .main {
    margin-top: 90px; } }

.about {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/Fotos/Fondo Lyo Games.png");
  background-size: contain;
  align-items: center;
  justify-content: center;
  height: auto; }
  .about__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 10px;
    width: 80%;
    margin: 100px; }
  .about__titulo {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem; }

@media screen and (max-width: 550px) {
  .about__box {
    min-width: 350px; } }

@media screen and (max-width: 400px) {
  .about__box {
    min-width: 300px; } }

.juegos {
  background-color: #111111;
  color: whitesmoke;
  height: auto; }
  .juegos__titulo {
    display: flex;
    justify-content: center; }
    .juegos__titulo h2 {
      text-align: center;
      font-size: 65px;
      margin-top: 20px;
      color: gold;
      background-color: black;
      padding: 10px;
      border-style: solid;
      border-color: gold;
      font-family: 'Righteous', cursive; }

.containerBox {
  max-width: 1800px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.box__content {
  background-color: black;
  width: 800px;
  height: 400px;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px;
  transition: all 300ms ease; }
  .box__content img {
    width: 750px;
    height: 320px;
    border-style: solid;
    border-width: 1px; }
  .box__content h3 {
    margin-top: 15px;
    font-family: 'Acme', sans-serif; }
  .box__content:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px -15px rgba(255, 255, 255, 0.781);
    background: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-width: 5px; }

@media screen and (max-width: 900px) {
  .box__content {
    width: 500px;
    height: 300px; }
  .juegos .box__content img {
    width: 460px;
    height: 230px; }
  .box {
    width: 100%; } }

@media screen and (max-width: 600px) {
  .juegos__titulo h2 {
    font-size: 40px; }
  .containerBox {
    width: 100%; }
  .box__content {
    width: 380px;
    height: 250px; }
  .juegos .box__content img {
    width: 340px;
    height: 180px; } }

@media screen and (max-width: 450px) {
  .containerBox {
    width: 100%; }
  .box__content {
    width: 280px;
    height: 200px; }
    .box__content h3 {
      font-size: 1rem; }
  .juegos .box__content img {
    width: 250px;
    height: 140px; } }

.fotosMenu {
  background-color: black;
  width: 100%; }
  .fotosMenu img {
    width: 100%; }

.noticias {
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
  justify-content: center;
  padding: 15px;
  background-color: black; }
  .noticias__titulo {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
    background-color: #000000;
    color: #ffffff; }
  .noticias__1 {
    width: 30rem;
    padding: 10px; }
    .noticias__1 img {
      width: 100%; }
  .noticias__2 {
    width: 30rem;
    padding: 10px; }
    .noticias__2 img {
      width: 100%; }

.comunidad {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  padding: 15px;
  background-color: gold; }
  .comunidad__titulo {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
    background-color: gold;
    color: black; }
  .comunidad__1 {
    width: 30rem;
    padding: 10px; }
    .comunidad__1 img {
      width: 100%; }
  .comunidad__2 {
    width: 30rem;
    padding: 10px; }
    .comunidad__2 img {
      width: 100%; }
  .comunidad__3 {
    width: 30rem;
    padding: 10px; }
    .comunidad__3 img {
      width: 100%; }

@media screen and (min-width: 1530px) {
  .fotosMenu img {
    height: 850px; } }

@media screen and (max-width: 815px) {
  .noticias {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px; }
  .noticias__titulo {
    font-size: 30px; }
  .noticias__1 {
    width: 500px;
    padding: 10px; }
  .noticias__2 {
    width: 500px;
    padding: 10px; }
  .comunidad {
    width: 100%;
    flex-wrap: wrap;
    padding: 10px; }
  .comunidad__titulo {
    font-size: 30px; }
  .comunidad__1 {
    width: 500px;
    padding: 10px; }
  .comunidad__2 {
    width: 500px;
    padding: 10px; }
  .comunidad__3 {
    width: 500px;
    padding: 10px; } }

@media screen and (max-width: 475px) {
  .noticias__titulo {
    font-size: 1.5rem; }
  .comunidad__titulo {
    font-size: 1.5rem; } }

.perfil {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/Fotos/Fondo Lyo Games.png");
  background-size: contain;
  align-items: center;
  justify-content: center;
  height: 890px; }
  .perfil__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 10px;
    width: 50%; }
  .perfil .perfil__titulo--1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive; }
  .perfil .iniciarContent__1 {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .perfil .iniciarContent__1 input {
      height: 30px;
      padding: 10px; }
  .perfil .perfil__titulo--2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive; }
  .perfil .registroContent__1 {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .perfil .registroContent__1 input {
      height: 30px;
      padding: 10px; }
  .perfil .registroContent__2 {
    margin: 20px 0; }
  .perfil .registroContent__3 {
    margin: 20px 0; }
  .perfil .registroContent__4 {
    margin: 20px 0; }
    .perfil .registroContent__4 select {
      height: 30px;
      width: 100%; }
  .perfil .registroContent__5 {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .perfil .registroContent__5 input {
      width: 100%;
      height: 30px;
      background-color: #000000;
      color: #ffffff;
      border-color: #ffffff;
      border-width: 2px; }
      .perfil .registroContent__5 input[type=submit]:hover {
        background-color: gold;
        color: #000000;
        border-color: #000000; }

@media screen and (max-width: 700px) {
  .perfil__box {
    min-width: 350px; } }

@media screen and (max-width: 400px) {
  .perfil__box {
    min-width: 300px; } }

.support {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/Fotos/Fondo Lyo Games.png");
  background-size: contain;
  align-items: center;
  justify-content: center; }
  .support__box {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 10px;
    width: 50%;
    margin: 180px; }
  .support__titulo {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive; }
  .support .contacto-1 {
    margin: 20px 0; }
    .support .contacto-1 input {
      width: 100%;
      height: 30px;
      padding: 10px; }
  .support .contacto-2 {
    margin: 20px 0; }
    .support .contacto-2 textarea {
      width: 100%; }
  .support .contacto-3 input {
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
    border-width: 2px; }
    .support .contacto-3 input[type=submit]:hover {
      background-color: gold;
      color: #000000;
      border-color: #000000; }

@media screen and (max-width: 815px) {
  .support__box {
    min-width: 400px; } }

@media screen and (max-width: 450px) {
  .support__box {
    min-width: 350px; } }

@media screen and (max-width: 400px) {
  .support__box {
    min-width: 300px; } }
