* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

//FONTS
@font-face {
    font-family: 'Pac Man';
    src: url(../fonts/PAC-FONT.TTF) format('truetype');
}

@font-face {
    font-family: 'Halo';
    src: url(../fonts/HALO____.TTF) format('truetype');
}

@font-face {
    font-family: 'Rubbb';
    src: url(../fonts/RUBBBB__.TTF) format('truetype');
}

@font-face {
    font-family: 'Zero Velo';
    src: url(../fonts/zerovelo.ttf) format('truetype');
}

@font-face {
    font-family: 'Crackman';
    src: url(../fonts/crackman.ttf) format('truetype');
}

@font-face {
    font-family: 'Iomanoid';
    src: url(../fonts/iomanoid.ttf) format('truetype');
}

@font-face {
    font-family: 'Cotton Cloud';
    src: url(../fonts/Cotton-Cloud.ttf) format('truetype');
}

@font-face {
    font-family: 'River Adventure';
    src: url(../fonts/River-Adventurer.ttf) format('truetype');
}

@font-face {
    font-family: 'Angels';
    src: url(../fonts/Angels.ttf) format('truetype');
}

@font-face {
    font-family: 'Oxygene1';
    src: url(../fonts/OXYGENE1.TTF) format('truetype');
}

@font-face {
    font-family: 'Distorter';
    src: url(../fonts/DistorterDemoRegular.ttf) format('truetype');
}

@font-face {
    font-family: 'Kids Cut';
    src: url(../fonts/Kids-Cut.ttf) format('truetype');
}







//IMPORTS 
@import './variables/colores';
@import './variables/extend';
@import './variables/mixins';
@import './variables/tamaños';

@import './contenedores/footer.scss';
@import './contenedores/header.scss';
@import './contenedores/main';

@import './secciones/about';
@import './secciones/games';
@import './secciones/inicio';
@import './secciones/perfil';
@import './secciones/support';

