* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}



@import './variables/colores';
@import './variables/tamaños';

@import './contenedores/footer.scss';
@import './contenedores/header.scss';
@import './contenedores/main';

@import './secciones/about';
@import './secciones/games';
@import './secciones/inicio';
@import './secciones/perfil';
@import './secciones/support';

