.about {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/Fotos/Fondo\ Lyo\ Games.png");
    background-size: contain;
    align-items: center;
    justify-content: center;
    height: auto;
    
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        background-color: whitesmoke;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        padding: 10px;
        width: 80%;
        margin: 100px;
    }

    &__titulo {
        @extend %fontTitulo;
    }
}




@media screen and (max-width: 550px) {
    .about__box {
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .about__box {
        min-width: 300px;
    }
}