.perfil {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/Fotos/Fondo\ Lyo\ Games.png");
    background-size: contain;
    align-items: center;
    justify-content: center;
    height: 890px;
    &__box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background-color: whitesmoke;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        padding: 10px;
        width: 50%;
    }
    
    .perfil__titulo--1 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }

    .iniciarContent {
        &__1 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input {
                height: 30px;
                padding: 10px;
            }
        }
    }

    .perfil__titulo--2 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }

    .registroContent {
        &__1 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input {
                height: 30px;
                padding: 10px;
            }
        }
        &__2 {
            margin: 20px 0;
        }
        &__3 {
            margin: 20px 0;
        }
        &__4 {
            margin: 20px 0;
            select {
                height: 30px;
                width: 100%;
            }
        }
        &__5 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input {
                width: 100%;
                height: 30px;
                background-color: #000000;
                color: #ffffff;
                border-color: #ffffff;
                border-width: 2px;
                &[type=submit]:hover {
                    background-color: gold;
                    color: #000000;
                    border-color: #000000;
                }
            }
        }
    }
}




@media screen and (max-width: 700px) {
    .perfil__box {
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .perfil__box {
        min-width: 300px;
    }
}
