.support {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/Fotos/Fondo\ Lyo\ Games.png");
    background-size: contain;
    align-items: center;
    justify-content: center;
    &__box {
        display: flex;
        flex-wrap: wrap;
        background-color: whitesmoke;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        padding: 10px;
        width: 50%;
        margin: 180px;
    }
    &__titulo {
        width: 100%;
        padding-bottom: 10px;
        text-align: center;
    }

    .contacto-1 {
        margin: 20px 0;
        input {
            width: 100%;
            height: 30px;
            padding: 10px;
        }
    }

    .contacto-2 {
        margin: 20px 0;
        textarea {
            width: 100%;
        }
    }
    
    .contacto-3 {
        input {
            width: 100%;
            height: 30px;
            background-color: #000000;
            color: #ffffff;
            border-color: #ffffff;
            border-width: 2px;
            &[type=submit]:hover {
                background-color: gold;
                color: #000000;
                border-color: #000000;
            }
        }
    }
}




@media screen and (max-width: 815px) {
    .support__box {
        min-width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .support__box {
        min-width: 350px;
    }
}