.support {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/Fotos/Fondo\ Lyo\ Games.png");
    background-size: contain;
    align-items: center;
    justify-content: center;

    &__box {
        display: flex;
        flex-wrap: wrap;
        background-color: whitesmoke;
        border-style: solid;
        border-color: black;
        border-width: 5px;
        padding: 10px;
        width: 50%;
        margin: 180px;
    }

    &__titulo {
        width: 100%;
        padding-bottom: 10px;
        @extend %fontTitulo;
    }

    &__motivo {
        h3 {
            font-family: 'River Adventure';
        }
    }

    .contacto-1 {
        margin: 20px 0;

        input {
            @include input-datos;
        }
    }
}

.contacto-2 {
    margin: 20px 0;

    textarea {
        background: rgba(126, 126, 126, 0.1);
        border: 2px solid rgba(126, 126, 126, 0.1);
        border-radius: 5px;
        width: 100%;
        padding: 10px;
    }
}

.contacto-3 {
    display: flex;
    justify-content: center;

    input {
        @include button-save;

        &[type=submit]:hover {
            background-color: gold;
            color: #000000;
            border-color: #000000;
        }
    }
}





@media screen and (max-width: 815px) {
    .support__box {
        min-width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .support__box {
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .support__box {
        min-width: 300px;
    }
}