.main {
    margin-top: 100px;
}

@media screen and (max-width: 815px) {

    .main {
        margin-top: 100px;
    }
}

@media screen and (max-width: 425px) {

    .main {
        margin-top: 90px;
    }
}
